!!!
%html
  %head
    %title Formula 1 Database
    = stylesheet_link_tag "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 

%body
  .navbar
    .navbar-inner
      = link_to "Formula 1 Database", root_path, class: "brand"
      .ul.nav
        %li.active 
          =link_to "Home", root_path
        %li
          =link_to "See Teams", teams_path
        %li
          =link_to "See Drivers", drivers_path
        %li
          =link_to "See Races", races_path

  .container
    / =background-image:url("app/assets/images/checkered-flag-background.jpg");
    = yield


